### 为何要使用pandas来完成数据处理工作：
- excel是功能非常强大的表格型数据处理工具，基本可以完成任何的数据处理分析工作，但是要完成稍微复杂的数据分析处理，操作也不简单，也难以对大量具有相同或类似表结构的表格完成批量化处理.
- 此外对大量有关联的，却分布在不同excel文件中的表格，要进行连表分析，对于小白来说是非常复杂而痛苦的事情。
- Python的pandas库可以很好的帮助我们使用较少的精力，顺利完成excel难以做到，或者实现过程非常复杂的数据分析操作。
- 不过相对于excel，pandas的入门曲线稍显陡峭，毕竟要掌握一些基础的编程语法和思维方式，然而一旦入门，你将开启一道通往新世界的大门！

#### 因为本课程是针对没有编程基础和经验的同学，我决一开始就讲解示例，通过在示例中穿插基础知识的方式，让大家没那么容易放弃.
#### 好的，废话不多说，那就让我们进入到pandas的神奇世界之中：

### 示例一：股票数据分析
- 获取某股票的历史行情数据。
- 输出该股票所有收盘比开盘上涨3%以上的日期。
- 输出该股票所有开盘比前日收盘跌幅超过2%的日期。
- 假如我从2010年1月1日开始，每月第一个交易日买入1手股票，每年最后一个交易日卖出所有股票，到今天为止，我的收益如何？

In [1]:
# 导入numpy,pandas库
import numpy as np
import pandas as pd

In [2]:
# 从保存在本地磁盘的csv文件中读取数据
df = pd.read_csv('./maotai.csv')
# 查看数据格式
df.tail(3)
# df.info()
# df.describe()

,Unnamed: 0,date,open,close,high,low,使用,code
4306,4306,2019-09-16,1083.0,1099.00,1103.95,1083.00,31371.0,600519
4307,4307,2019-09-17,1094.0,1094.01,1106.66,1087.00,25196.0,600519
4308,4308,2019-09-18,1108.5,1148.90,1150.00,1108.18,69314.0,600519

### 1.从读取的原始数据中我们可以看到，有不需要的列'Unnamed: 0'，并且我们很希望把日期'date'这一列作为索引，以便后面的分析

In [3]:
# 使用drop函数，删除不需要的列
df.drop(labels=[0,1],axis=0,inplace=True)

In [4]:
df.head()

   Unnamed: 0        date   open  close   high    low        使用    code
2           2  2001-08-29  5.777  5.684  5.781  5.640  53252.75  600519
3           3  2001-08-30  5.668  5.796  5.860  5.624  48013.06  600519
4           4  2001-08-31  5.804  5.782  5.877  5.749  23231.48  600519
5           5  2001-09-03  5.812  5.779  5.870  5.757  22112.09  600519
6           6  2001-09-04  5.782  5.852  5.949  5.762  37006.77  600519

In [22]:
df.columns

Index(['Unnamed: 0', 'date', 'open', 'close', 'high', 'low', '使用', 'code'], dtype='object')

In [5]:
# 把日期时间从字符串，转换为时间对象，并设置为索引，就是index

### 另一种方法:将date这一列的数据先转成时间类型然后将其作为原数据的行索引
- df = pd.read_csv('./maotai.csv',index_col='date',parse_dates=['date'])
- df.drop(labels='Unnamed: 0',axis=1,inplace=True)

### 2.输出该股票所有收盘比开盘上涨3%以上的日期

In [6]:
# 找到（收盘-开盘）/开盘 > 0.03 的行,True:满足需求,false:不满足

In [7]:
# 获取了满足需求的日期

### 3.输出该股票所有开盘比前日收盘跌幅超过2%的日期。
-（开盘-前日收盘）/ 前日收盘 < -0.02

In [8]:
# 找到（开盘-前日收盘）/ 前日收盘 < -0.02 的行,True:满足需求,false:不满足

In [9]:
# 获取了满足需求的日期

### 4.计算收益

- 假如我从2010年1月1日开始，每月第一个交易日买入1手股票，每年最后一个交易日卖出所有股票，到今天为止，我的收益如何？
- 分析：
    - 规则：基于开盘价股票的买卖
    - 买：一个完整的年需要买12次股票，一次买入100只，一个完整的年需要买入1200只（单价：当天开盘价）
    - 卖：一个完整的年需要卖一次股票，一次卖出1200只
    - 备注：19年不是一个完整的年，该年只可以买入900只，并且卖不出去

In [10]:
# 获取对应时间段的股票数据

In [11]:
# 数据的重新取样的机制(resample):获取每月第一个交易日股票的数据

In [12]:
# 计算出买股票一共花了多少钱

In [13]:
# 计算卖出所有的股票一共进账多少钱
# 每年最后一个交易日以开盘价为单价进行卖出

In [14]:
# 因为数据没有包括2019年12月，所以去掉2019的最后一个月的数据

In [15]:
# 计算每年最后一个交易日,以开盘价卖出所有股票,获得的收入总额

In [16]:
# 计算到数据截至日期前，2019年持有的股票的总价值

In [17]:
# 计算2019年有几个月的数据

In [18]:
# 计算到数据截至日期前，2019年持有的股票的总价值

In [19]:
# 计算截至到统计数据最后一天，此人 股票买卖总收益=2010年至2018年卖出股票获得的收益+2019年持有股票的价值-2010至2019购买股票的总花费